ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h2 {
    color: white;
}

.song-card-background{
    margin: 10px;
    background: linear-gradient(#70C1B3, #E4E9B2, #9198e5);
    border-radius: 5px;
    box-shadow: 5px 5px 2px #e1e3c7;
}

.song-card{
    padding:5px;
    width: 350px;
    height: 450px;
}

.player {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    
}

img {
    box-shadow: 2px 2px 2px #9198e5;
    border-radius: 5px;
}

li {
    list-style: none;
}
